@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ff6969;
  color: #fff5e0;
  text-align: center;
  display: grid;
  justify-content: center;
}
.App {
  display: grid;
  justify-items: center;
}

h1 {
  font-family: "Rubik", sans-serif;
}
input:focus {
  outline: none;
}
#todo-wrapper {
}

#added-todo {
}
#todo-form {
}
#todo-form input::placeholder {
  color: #fff5e0a2;
}

input {
  background: none;
  padding: 0.75rem 3rem;
  border: 1px solid #ff6969;
  text-align: center;
  color: #fff5e0;
  font-size: 1rem;
}
button {
  border: none;
  color: #fff5e0;
  background: #ff6969;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: #fff;
  opacity: 0.5;
}
